
body {
  background-color: whitesmoke;
}

.content {
  min-height: calc(100vh - 70px);
}

header {
  background-color: white;
  text-align: center;
  width: 50%;
  height: 20%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  color: black;
  font-family: 'Passion One', sans-serif;
  display: flex;
  justify-content: center;
  border: 2px solid black;

}


h1 {
  font-weight: bold;
  font-size: 3em;
}

header p {
  font-weight: light;
  font-size: 1.5em;
}


#quoteDisplay {
  background-color: white;
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  border: 2px solid black;

}

#quoteDisplay button {
  background-color: white;
  border: 2px solid black;
  margin: 25px 50px;

}

button p {
  color: black;
  font-family: 'Passion One', sans-serif;
  font-size: 3em;
  background-color: white;
}

#another {
  background-color: white;
  width: 40%;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  margin: auto;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  margin-top: 20px;
}

#another button{
  background-color: white;
  /* border: 2px #e65c00 solid; /*  dark orange */
  padding: 25px 50px;
  color: black;
  font-family: 'Passion One', sans-serif;
  font-size: 3em;
}

footer {
  padding-top: 20px;
  font-family: sans-serif;
  font-weight: bold;
  height: 50px;
}

footer a {
  text-decoration: none;
}

/* Media queries */

@media screen and (max-width: 768px) {

  header {
    width: 75%;
    margin: auto;
  }

  #quoteDisplay {
    width: 75%;
    margin: auto;
  }

}
